.Button {
    background: #333;
    width: 55px;
    height: 55px;
    border-radius: 25px;
    display: flex;
    font-size: 22.5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.Button:hover {
    background: rgb(121, 120, 120);
}
.Button.zero {
    width: 85px;
    grid-column: 1 / span 2;
    border-radius: 28.75px;
    position: relative;
    justify-content: flex-start;
    padding-left: 43px;
}
.Button.function {
    color:#000000;
    background: #a5a5a5;
}
.Button.function:hover {
    background: #e2e2e2;
}
.Button.operator {
    background: #cd3cf1;
}
.Button.operator:hover {
    background: rgb(211, 171, 209);
    color: #cd3cf1;
}