.Button {
    background: #333;
    width: 110px;
    height: 110px;
    border-radius: 50px;
    display: flex;
    font-size: 45px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.Button.zero {
    width: 215px;
    grid-column: 1 / span 2;
    border-radius: 57.5px;
    position: relative;
    justify-content: flex-start;
    padding-left: 43px;
}
.Button.function {
    color:#000000;
    background: #a5a5a5;
}
.Button.operator {
    background: #f1a33c;
}