.Body {
    background: #cd3cf1;
    justify-content: center;
    align-items: center;
    display: flex;
}
.App {
    background: #000000;
    border-radius: 25px;
    box-shadow: 5px 10px 10px #2b0335;
    color: #ffffff;
    height: 609px;
    padding: 10px;
    position: relative;
    width: 281.5px;
}
.top {
    height: 125px;
    padding: 0 10px;
}
.display {
    font-size: 65px;
    font-weight: 150;
    margin-bottom: 10px;
    text-align: right;
}
.buttons {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
}
.bottom {
    position: absolute;
    width: 100px;
    height: 2.5px;
    background: #ffffff;
    bottom: 5px;
    left:33%;
    border-radius:4px;
}
